#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;  
  justify-content: center;
  gap: 50px;
  margin-top: 10px;
}

.show-card {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  width: 200px;           
  background: rgb(41, 41, 41);
  text-align: center;
}
.show-card img {
  
  justify-content: center;
  align-items: center;

}



/*Dialog favs*/

.fav-dialog {
  padding: 20px;
  border-radius: 10px;
  border: none;
  width: auto;        
  max-width: 90vw;    
  max-height: 90vh;   
}

.fav-card {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.close-btn {
  margin-top: 15px;
  padding: 8px 12px;
  cursor: pointer;
}

.Fav-Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;               
  overflow-x: auto;        
  padding: 10px;
}

.fav-card {
  min-width: 200px;       
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  background: rgb(43, 43, 43);
  text-align: center;
}