#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.heart-icon {
  font-size: 14px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.heart-icon.empty {
  color: #aaa; /* gris */
}

.heart-icon.filled {
  color: red;
  transform: scale(1.2);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.results-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  flex-wrap: wrap;
  align-items: center;  
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.show-card {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  width: 200px;     
  margin: 0 auto;      
  background: rgb(41, 41, 41);
  text-align: center;
}
.show-card h2{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.show-card img{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .results-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .results-container {
    grid-template-columns: 1fr;
  }
}



/*Dialog favs*/

.fav-dialog {
  padding: 20px;
  border-radius: 10px;
  border: none;
  width: auto;        
  max-width: 90vw;    
  max-height: 90vh;   
}

.fav-card {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.close-btn {
  margin-top: 15px;
  padding: 8px 12px;
  cursor: pointer;
}

.Fav-Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;               
  overflow-x: auto;        
  padding: 10px;
}

.fav-card {
  min-width: 200px;       
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  background: rgb(43, 43, 43);
  text-align: center;
}